<div class="head-bg">
  <div class="bl-1">
    <div class="b-1 logo">
      <img src="../../assets/shopping-bag.png" />
    </div>
    <div class="b-1 name"><p>VEGI-FRESH</p></div>
  </div>
  <div class="bl-2">
    <div class="lg-1" title="Notifications">
      <i class="fa fa-bell" aria-hidden="true"></i>
    </div>
    <div class="lg-1" title="Catagories">
      <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
    </div>
    <div class="lg-1" title="Comments">
      <i class="fa fa-comments" aria-hidden="true"></i>
    </div>
    <div class="lg-1" title="Cart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
  </div>
  <div class="bl-3">
    <div class="lg-1" title="Sign-In">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </div>
    <div class="lg-1" title="Shopping Maps">
      <i class="fa fa-map-signs" aria-hidden="true"></i>
    </div>
  </div>
</div>
